{% extends "base.html" %}

{% block title %}
Fee Due
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<main class="min-h-screen w-full flex flex-col items-center p-8 bg-base-100">
    <h1 class="text-3xl font-bold  mb-6 text-center">
        💰 Transactions
    </h1>
    <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table w-full">
            <!-- head -->
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Amount (Rs.)</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</main>
{% endblock %}